/***** Gernal ********/
:root{
    --green-dark: rgba(12, 112, 12, 0.801);
    --green-light: rgb(32, 148, 32);
    --green-highlight: rgb(230, 247, 230);
    --black: black;
    --gray: rgb(216, 216, 216);

}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5rem;
    
}
p{
    color: rgb(90, 90, 90);
}
/********* Button ********/
.btn{
    border-radius: 2rem;
    padding: 1rem 2rem;
    outline:none;
    font-weight: bold;
    transition: background-color 0.3s;
    cursor: pointer;
}
.btn--primary{
    color: var(--green-dark);
    
    border: 1px solid var(--green-dark);
    background-color: transparent;
}
.btn--secondary{
    color:white;
    background-color: black;
    border: none;
}
.btn--primary:hover{
    background-color: var(--green-highlight);
    
}
.btn--secondary:hover{
    background-color: rgb(131, 131, 131);
}
/********** Card ***********/
.card{
    box-shadow: 0 0 4px gray;
    margin: 2rem;
    
}
.card img{
    width: 100%;
    
}
.card__content{
    padding: 2rem;
}
.card h2{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
}
.card p{
    margin-top: 0.7rem;
}

@media screen and (min-width: 750px) {
    .card{
        
    }
}

/******** aside-main-block *********/
@media screen and (min-width: 1000px) {
    .aside-main-block{
       
        }
}


/******* Order-Block **********/

.order-block{
    display: grid;
   
}

@media screen and (min-width: 760px){
    .order-block{
       grid-template: repeat(2, 1fr) / repeat(2, 1fr);
      justify-items: center;
    }
}

/******* Aside ************/
aside{
    position: relative;
    height: 100vh;
}

@media screen and (min-width: 1000px) {
    aside{
        height: auto;
    }
}

/********** Aside images **********/
.reward-img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 50;
}
.deal-img{
    position: absolute;
    bottom: 0;
    z-index: 100;
    width: 100%;
}



@media screen and (min-width: 1000px){
    .reward-img{
        position: fixed;
        width: 40%;
        left: 0;
    }
    .deal-img{
        position: relative;
        width: 60%;
        left: 40%;
    }
}

/******** aside__hidden ****/
.aside__hidden{
    display: none;
}
@media screen and (min-width: 1000px) {
    .aside__hidden{
        display: inline-block;
        width: 40%;
        height: 200vh;
        float: left;
        margin-right: 5rem;
        

    }
}

/********** Starter-Block ***********/
.starter-block{
    padding: 1.5rem;
}

/* Dariy-block */
.dairy-block{
    margin: 3rem 0 6rem;
}
.dairy-block h2{
    font-size: 2.8rem;
    font-weight: 600;
}
.dairy-block p{
    margin-bottom: 3rem;
}

@media screen and (min-width: 950px) {
   .dairy-block{
       
   }
}

/* Delivers-block */
.delivers-block{
   display: grid;
}
.pic-title{
    font-weight: bold;
    color: black;
    letter-spacing: 2px;
    margin-bottom: 2.5rem;
}
.delivers-block img{
    width: 100%;
    margin-bottom: 1rem;
}

.title-order p{
    margin-bottom: 2.5rem;
    line-height: 1.2;
}

@media screen and (min-width: 760px) {
    .delivers-block{
        grid-template-columns: repeat(2,1fr);
        gap: 5rem;
    }
   
}
@media screen and (min-width: 1000px) {
    
    .title-order{
        width: 26rem;
    }
}


/************* NavBar ***************/
.navbar{
    background-color: white;
    display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}
.navbar__logo{
    
    width: 80px;
    margin-top: 1rem;
}
.menu-bars{
  
margin: 3rem 2rem 0;
transform: scale(1.4);
}

    



/******* list ********/
.list{
    list-style: none;
    
}

/* list button */
.list--button li{
    margin: 2rem 0;
}
/* list horizontal */
.list--horizontal li{
    display: inline;
    padding: 2rem;
    font-size: 1.7rem;
    font-weight: bold;
}
/*** location icon ****/
.location-icon{
    float: left;
    margin-right: 1rem;
    
}

/****** menu--mobile ***********/
 .menu--mobile{
     display: none;
    width: 0;
    opacity: 0;
    transition: all 1s;
}
.collapsible--expanded .menu--mobile{
    background-color: white;
    z-index: 110;
    position: absolute;
    right: 0;
    margin-top: 5.5rem;
    display: block;
    width: 70vw;
    opacity: 1;
    transition: all 1s;
}

/******** list- hidden -----*/
.list--hidden{
    padding: 0;
}
.list--hidden li{
    padding: 3rem 2rem;
    font-size: 2rem;
}
.list--hidden li:hover{
    background-color: rgb(226, 226, 226);
}
.menu-line{
    color: black;
    font-size: 2rem;
    transform: scaleX(18);
    color: gray;
    position: relative;
    left: 32vw;
}
.menu--pc{
    display: none;
}
/******* menu for PC *************/
@media screen and (min-width: 900px) {
    .navbar{
        padding: 2rem;
    }
.collapsible--expanded .menu--mobile{
     display: none;
     width: 0;
     opacity: 0;
 }
  .menu-bars{
    width: 0;
    opacity: 0;
  }
  .navbar{
      justify-content: start;
      margin-bottom: 1rem;
  }
  .navbar__logo{
      object-fit: cover;
      
  }
  .list--horizontal{
      margin-top: 3rem;
  }

  /*-Flex lists */
  .flex-lists{
      display: flex;
      
  }
  .list--button-horizontal{
    position:absolute;
    right: 20px;
  }
 .list--button-horizontal li{
     display: inline-block;
     padding-right: 2rem;
    
 }
}
