<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <section class="aside-main-block">
      <aside>
        <img class="reward-img" src="/images/left-image.png" alt="" />
        <img class="deal-img" src="/images/left2-image.jfif" alt="" />
        <img class="aside__hidden" src="/images/left-image.png" alt="" />
      </aside>
      <main>
        <section class="order-block">
          <div class="card">
            <img src="/images/coffee.jfif" alt="starbucks coffee" />
            <div class="card__content">
              <h2>Starbucks Delivers</h2>
              <p>Get your favourite food and drinks delivered to your door!</p>
              <button class="btn btn--primary">Order now</button>
            </div>
          </div>
          <div class="card">
            <img src="/images/coffee.jfif" alt="starbucks coffee" />
            <div class="card__content">
              <h2>Starbucks Delivers</h2>
              <p>Get your favourite food and drinks delivered to your door!</p>
              <button class="btn btn--primary">Order now</button>
            </div>
          </div>
          <div class="card">
            <img src="/images/coffee.jfif" alt="starbucks coffee" />
            <div class="card__content">
              <h2>Starbucks Delivers</h2>
              <p>Get your favourite food and drinks delivered to your door!</p>
              <button class="btn btn--primary">Order now</button>
            </div>
          </div>
          <div class="card">
            <img src="/images/coffee.jfif" alt="starbucks coffee" />
            <div class="card__content">
              <h2>Starbucks Delivers</h2>
              <p>Get your favourite food and drinks delivered to your door!</p>
              <button class="btn btn--primary">Order now</button>
            </div>
          </div>
        </section>
      </main>
    </section>
  </body>
</html>
