<nav class="navbar collapsible">
    <img
      class="navbar__logo"
      src="/images/Starbucks-Logo.png"
      alt="starbucks logo"
    />
    <div class="flex-lists menu--pc">
      <ul class="list list--horizontal">
        <li>Menu</li>
        <li>Nutrition</li>
        <li>Delivers</li>
        <li>Rewards</li>
      </ul>

      <ul class="list  list--button-horizontal">
        <li><i class="location-icon fa-solid fa-location-pin"></i> <p style="font-weight: bold;">Find a store</p></li>
        <li><button class="btn btn--primary">Sign in</button>
        <li><button class="btn btn--secondary">Join now</button></li>
          
      </ul>
    </div>

    <i class="menu-bars fa-solid fa-bars"></i>

    <section class="menu--mobile">
      <ul class="list list--hidden">
        <li>Menu</li>
        <li>Nutrition</li>
        <li>Delivers</li>
        <li>Rewards</li>
      </ul>
      <i class="menu-line fa-solid fa-minus"></i>

      <ul class="list list--button">
        <li><button class="btn btn--primary">Sign in</button>
        <li><button class="btn btn--secondary">Join now</button></li></li>
        <li><i class="location-icon fa-solid fa-location-pin"></i> <p style="font-weight: bold;">Find a store</p></li>
      </ul>
    </section>
  </nav>