<section class="order-block">
  <div class="card">
    <img src="/images/coffee.jfif" alt="starbucks coffee" />
    <div class="card__content">
      <h2>Starbucks Delivers</h2>
      <p>Get your favourite food and drinks delivered to your door!</p>
      <button class="btn btn--primary">Order now</button>
    </div>
  </div>

  <div class="card">
    <img src="/images/coffee.jfif" alt="starbucks coffee" />
    <div class="card__content">
      <h2>Starbucks Delivers</h2>
      <p>Get your favourite food and drinks delivered to your door!</p>
      <button class="btn btn--primary">Order now</button>
    </div>
  </div>

  <div class="card">
    <img src="/images/coffee.jfif" alt="starbucks coffee" />
    <div class="card__content">
      <h2>Starbucks Delivers</h2>
      <p>Get your favourite food and drinks delivered to your door!</p>
      <button class="btn btn--primary">Order now</button>
    </div>
  </div>

  <div class="card">
    <img src="/images/coffee.jfif" alt="starbucks coffee" />
    <div class="card__content">
      <h2>Starbucks Delivers</h2>
      <p>Get your favourite food and drinks delivered to your door!</p>
      <button class="btn btn--primary">Order now</button>
    </div>
  </div>
</section>
